@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");

$primary-dark: rgba(0, 0, 0, 0.8);
$primary-hover-blue: rgba(0, 0, 255, 0.8);
$gallery-height: 25rem;
$box-shadow: #26394d 0px 20px 30px -10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 10px;
}

h1 {
  margin-top: 3rem;
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2rem;
}

.wcag-carousel {
  width: 55rem;
  padding: 1rem;
  margin: 5em auto;
  box-shadow: 0 0 7rem 0.5rem #26394d inset, 0 0 7rem 1rem #26394d inset;

  .wcag-carousel-inner {
    height: $gallery-height;

    .wcag-controls {
      position: relative;
      z-index: 99;

      button {
        position: absolute;
        top: 10px;
        border: 0;
        background: $primary-dark;
        padding: 0.25rem 0.75rem;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
          background-color: $primary-hover-blue;
        }

        &:nth-child(1) {
          left: 10px;
        }

        &:nth-child(2) {
          right: 55px;
        }

        &:nth-child(3) {
          right: 10px;
        }

        & svg {
          color: #fff;
          font-size: larger;
        }
      }
    }

    .wcag-carousel-items {
      position: relative;

      .wcag-carousel-item {
        display: none;

        &.wcag-active {
          display: block;
        }

        .wcag-carousel-image {
          a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover .wcag-caption,
            &:focus .wcag-caption {
              background-color: $primary-dark;
              height: max-content;
            }

            img {
              width: 75%;
              height: $gallery-height;
              object-fit: cover;
              box-shadow: 0 0 20rem -1rem #fff;
            }

            .wcag-caption {
              position: absolute;
              color: #fff;
              padding: 0.25rem;
              margin: 0;
              border-radius: 5px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: max-content;
              max-width: 95%;
              height: 0;
              overflow: hidden;
              transition: 0.3s ease-in;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
