$primary-dark: rgba(0, 0, 0, 0.8);
$primary-hover-blue: rgba(0, 0, 255, 0.8);

.wtm-sir-carousel {
  width: 100%;
  padding: 0.25rem;

  .wtm-sir-carousel-inner {

    .wtm-sir-controls {
      position: relative;
      z-index: 99;

      button {
        position: absolute;
        top: 10px;
        border: 0;
        background: $primary-dark;
        padding: 0.25rem 0.75rem;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
          background-color: $primary-hover-blue;
        }

        &:nth-child(1) {
          left: 10px;
        }

        &:nth-child(2) {
          right: 55px;
        }

        &:nth-child(3) {
          right: 10px;
        }

        & svg {
          color: #fff;
          font-size: larger;
        }
      }
    }

    .wtm-sir-carousel-items {
      position: relative;

      .wtm-sir-carousel-item {
        display: none;

        &.wtm-sir-active {
          display: block;
        }

        .wtm-sir-carousel-image {

          a {
            text-align: center;
            position: relative;
            display: block;

            &:hover .wtm-sir-caption,
            &:focus .wtm-sir-caption{
                padding: 0.25rem;
                background-color: $primary-dark;
                height: max-content;
            }

            img {
              width: 100%;
              vertical-align: middle;
            }

            .wtm-sir-caption {
              position: absolute;
              bottom: 5px;
              color: #fff;
              padding: 0;
              margin: 0;
              border-radius: 5px;
              left: 50%;
              transform: translateX(-50%);
              width: max-content;
              max-width: 95%;
              height: 0;
              overflow: hidden;
              transition: .5s ease;
            }
          }
        }
      }
    }
  }
}
