@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-size: 10px;
  display: flow-root;
}

header {
  font-family: "Baloo Tammudu 2", cursive;
}

header h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 4.5em;
}

header p {
  font-size: 2em;
  text-align: center;
  line-height: 1.6em;
}

.wcag-carousel {
  max-width: 55rem;
  padding: 1rem;
  margin: 5em auto;
  -webkit-box-shadow: 0 0 7rem 0.5rem #26394d inset, 0 0 7rem 1rem #26394d inset;
          box-shadow: 0 0 7rem 0.5rem #26394d inset, 0 0 7rem 1rem #26394d inset;
  overflow: hidden;
}

.wcag-carousel .wcag-carousel-inner {
  height: 25rem;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls {
  position: relative;
  z-index: 99;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button {
  position: absolute;
  top: 10px;
  border: 0;
  background: #000000cc;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button:hover, .wcag-carousel .wcag-carousel-inner .wcag-controls button:focus {
  background-color: #0000ffcc;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button:nth-child(1) {
  left: 10px;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button:nth-child(2) {
  right: 55px;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button:nth-child(3) {
  right: 10px;
}

.wcag-carousel .wcag-carousel-inner .wcag-controls button svg {
  color: #fff;
  font-size: larger;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item {
  display: none;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item.wcag-active {
  display: block;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item .wcag-carousel-image {
  height: 25rem;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item .wcag-carousel-image a {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item .wcag-carousel-image a img {
  width: 75%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 20rem -1rem #fff;
          box-shadow: 0 0 20rem -1rem #fff;
}

.wcag-carousel .wcag-carousel-inner .wcag-carousel-items .wcag-carousel-item .wcag-carousel-image a .wcag-caption {
  position: absolute;
  background-color: #000000cc;
  color: #fff;
  padding: 0.25rem;
  margin: 0;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 95%;
  font-size: 1.6rem;
}

footer {
  text-align: center;
  background: #131313;
  padding: 3rem 0;
}

footer p {
  font-size: 2rem;
  color: #fff;
  font-family: cursive;
}
/*# sourceMappingURL=styles.css.map */